.projects {
  padding: 30px;
  border: 4px solid #e6edf0;
  border-radius: 15px;
  background-color: rgba(8, 8, 8, 0.04);
  margin: 10px 0px;
}
.grey-color {
  color: rgba(8, 8, 8, 0.6);
}
.max-width-class {
  max-width: 1536px;
}

.heading-size {
  font-size: 64px;
}

.heading-size-middle {
  font-size: 32px;
}

.heading-size-small {
  font-size: 18px;
}

.regular-text-size {
  font-size: 1rem;
}
.header-item-bg {
  background-color: #ecdbaa;
}

.header-item-bg:hover {
  color: rgb(255, 147, 48);
  background-color: #e6d6a7;
}

@media screen and (max-width: 653px) {
  .fancy-text-size {
    font-size: 2rem !important;
  }
  .heading-size {
    font-size: 32px;
  }
  .regular-text-size {
    font-size: 1rem;
  }
}
